.collapsible{
    background-color: lightgreen;
    color: white;
    font-size: 25px;
    text-align: left;
    border-radius: 25px;
    display: block;
    padding: 20px;
    width: 100%;
}

.activate, .collapsible:hover {
    background-color: darkgreen;
}

.content {
    max-height: 0;
    background-color: lightgreen;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
#map{
    width: 100%;
    min-height: 100vh;
    max-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 auto;
    z-index: 0;
}

#menu{
    width: 25%;
    height: 100%;
    backdrop-filter: blur(6px);
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 auto;
}