/* General */
body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: rgba(0,223,252,1);
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
  font-family: "Raleway", sans-serif;
}

/* Header-style-animated */
#header {
  height: 70px;
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  background: rgba(42, 44, 57, 0.9);
}

#header.header-start {
  background: transparent;
}

#header.header-moved {
  background: rgba(52,56,56,1); 
}

#header .logo h1 {
  font-size: 28px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 1px;
}

#header .logo h1 a, #header .logo h1 a:hover {
  color: #fff;
  text-decoration: none;
}

#header .logo img {
  padding: 0;
  margin: 0;
  max-height: 40px;
}
/* Navbar-style-transition */
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 15px 7px 15px;
  margin-left: 5px;
  font-size: 14px;
  color: #fff;
  white-space: nowrap;
  transition: 0.3s;
  border-radius: 50px;
}

.navbar a i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover, .navbar .active, .navbar li:hover > a {
  background: #00dffc;
}

.mobile-nav-toggle {
  color: #fff;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }
  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(20, 21, 28, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 10px;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a {
  padding: 10px 20px;
  margin: 5px;
  font-size: 15px;
  color: #2a2c39;
}

.navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
  color: #fff;
}

.navbar-mobile .getstarted {
  margin: 15px;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover, .navbar-mobile .dropdown ul .active:hover, .navbar-mobile .dropdown ul li:hover > a {
  color: #fff;
}

.navbar-mobile .dropdown > .dropdown-active {
  display: block;
}
/* backheader-style */
#backheader {
  width: 100%;
  overflow: hidden;
  position: relative;
  background: linear-gradient(0deg, rgba(0,95,107,1) 0%, rgba(0,223,252,1) 100%);
  padding: 0;
}

#backheader .carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: relative;
  height: 70vh;
  padding-top: 60px;
}

#backheader h2 {
  color: #fff;
  margin-bottom: 30px;
  font-size: 48px;
  font-weight: 700;
}

#backheader p {
  width: 80%;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
  margin: 0 auto 30px auto;
  color: #fff;
}

#backheader .carousel-control-prev, #backheader .carousel-control-next {
  width: 10%;
}

#backheader .carousel-control-next-icon, #backheader .carousel-control-prev-icon {
  background: none;
  font-size: 48px;
  line-height: 1;
  width: auto;
  height: auto;
}

@media (min-width: 1024px) {
  #backheader p {
    width: 60%;
  }
  #backheader .carousel-control-prev, #backheader .carousel-control-next {
    width: 5%;
  }
}

@media (max-width: 768px) {
  #backheader .carousel-container {
    height: 90vh;
  }
  #backheader h2 {
    font-size: 28px;
  }
}
/* Animation-waves */
.backheader-waves {
  display: block;
  width: 100%;
  height: 60px;
  position: relative;
}

.wave1 use {
  -webkit-animation: move-forever1 10s linear infinite;
  animation: move-forever1 10s linear infinite;
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
}

.wave2 use {
  -webkit-animation: move-forever2 8s linear infinite;
  animation: move-forever2 8s linear infinite;
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
}

.wave3 use {
  -webkit-animation: move-forever3 6s linear infinite;
  animation: move-forever3 6s linear infinite;
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
}

@-webkit-keyframes move-forever1 {
  0% {
    transform: translate(85px, 0%);
  }
  100% {
    transform: translate(-90px, 0%);
  }
}

@keyframes move-forever1 {
  0% {
    transform: translate(85px, 0%);
  }
  100% {
    transform: translate(-90px, 0%);
  }
}

@-webkit-keyframes move-forever2 {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}

@keyframes move-forever2 {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}

@-webkit-keyframes move-forever3 {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}

@keyframes move-forever3 {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}

/* secion-style */
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-title {
  padding-bottom: 40px;
}

.section-title h2 {
  font-size: 20px;
  font-weight: 500;
  padding: 0;
  line-height: 1px;
  margin: 0 0 5px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgba(52,56,56,1);
  font-family: "Poppins", sans-serif;
}

.section-title h2::after {
  content: "";
  width: 250px;
  height: 1px;
  display: inline-block;
  background: rgba(0,223,252,1);
  margin: 4px 10px;
}

.section-title p {
  margin: 0;
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #2a2c39;
}

/* aboutUs-style */
.aboutUs {
  padding-top: 80px;
}
.aboutUs p{
	text-align:justify;
	font-size:x;
	font-weight:400;
}
/* Services-style */
.services .info-box{
  padding: 30px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 2px 29px 0 rgba(68, 88, 144, 0.12);
  transition: all 0.4s ease-in-out;
  width: 100%;
  height: 100%;
}
.services .info-box:hover {
  transform: translateY(-10px);
  box-shadow: 0 2px 35px 0 rgba(68, 88, 144, 0.2);
}
.services .icon{
  position: absolute;
  left: -25px;
  top: calc(50% - 30px);
}
.services .icon i {
  font-size: 64px;
  line-height: 1;
  transition: 0.5s;
}
.services .title{
	margin-left: 20px;
	font-weight:800;
}
.services .info{
	margin-left: 20px;
}

/* jumpIn-style */

.jumpIn{
	background-color: rgba(52,56,56,1);
}
.jumpIn .button{
	border-radius: 100px;
	background-color: rgba(0,223,252,1);
	font-size:18px;
	padding:12px 30px;
	margin:10px;
	font-size:20px;
	font-weight:900;
	font-family:"Raleway", sans-serif;
}
.jumpIn .button:hover{
	background-color: white;
}
.jumpIn .button-case{
	display: flex;
    align-items: center;
    justify-content: flex-end;
}
.jumpIn .title{
	color: rgba(0,223,252,1);
	font-weight: 800;
}
.jumpIn .info{
	color: white;
}
/* team-style */

.team img{
	max-width: 100%;
    max-height: 100%;
	margin: 0px 15px 15px 0px;
}
.team #left .info .title{
	color:rgba(52,56,56,1);
	text-align:right;
}

.team #left .info .details{
	font-size:16px;
	font-weight:300px;
	text-align:right;

}
.team #right {
	padding-left:50px;
}

.team #left {
	padding-left:50px	;
}

.team #right .info .title{
	color:rgba(52,56,56,1);
	text-align:left;
}
.team #right .info .details{
	font-size:16px;
	font-weight:300px;	
	text-align:left;

}

.team .box-shadow{
  padding: 30px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 2px 29px 0 rgba(68, 88, 144, 0.32);
  transition: all 0.4s ease-in-out;
  width: 100%;
  height: 100%;
}
/* footer-style */
#footer{
  background-color:rgba(52,56,56,1);
  text-align: center;
    padding: 30px 0;


}
#footer .title{
	font-size:24px;
	font-weight:800;
	color:rgba(0,140,158,1);
	position:relative;
}
#footer .info{
	color:white;
	position:relative;
	font-size:15px;
}

#footer span{
	font-weight:800;
	color: rgba(0,223,252,1);
	position:relative;
	font-size: 14px;
}

#footer .title:after{
  content: "";
  width: 250px;
  height: 1px;
  display: inline-block;
  background: rgba(0,140,158,1);
  margin: 4px 10px;
}