/* General */
body {
  font-family: "Raleway", sans-serif;
  color:rgba(52,56,56,1);
}

a {
  color:rgba(0,95,107,1);
  text-decoration: none;
}

a:hover {
  color: rgba(0,223,252,1);
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
  font-family: "Raleway", sans-serif;
}


.container .eco img{
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 2px 29px 0 rgba(68, 88, 144, 0.12);
  transition: all 0.4s ease-in-out;
}

/* container-style */
.container{
  margin-top: 10px;
}
.container .row .col{
  margin-top:20px;
}
.container .title{
  text-align: center;
}

.container .title .titulo{
  text-align: center;
  font-size: 80px;
}
.container .title{
  margin-bottom: 16px;
}
.container  h1::after{
  content: "";
  width: 250px;
  height: 1px;
  display: inline-block;
  background: rgba(0,223,252,1);
  margin: 4px 10px;
}

.container  h1::before{
  content: "";
  width: 250px;
  height: 1px;
  display: inline-block;
  background: rgba(0,223,252,1);
  margin: 4px 10px;
}

.container .section{
  margin-top: 30px;
}

.container .important{
  color: #00dffc;
  font-size: 30px;
  text-align: center;
  border-style: solid;
  border-color: #00dffc;
  margin-top: 10px;
  margin-bottom: 20px;
}
.container a{
  text-align: center;
  justify-content: space-between;
  font-size: 19px;
  color:#00dffc;
  white-space: nowrap;
  transition: 0.3s;
}
.container .black-inline h1::before{
  content: "";
  width: 250px;
  height: 1px;
  display: inline-block;
  background: rgba(0,223,252,1);
  margin: 4px 10px;
}
.container .black-inline{
  background-color: rgba(52,56,56,1);
  border-radius: 8px;
}
.container .black-inline .title{
  color: white;
}
.container .black-inline .info{
  color: white;
}
.container #obj{
  height: 100%;
  width: 100%;
  margin-left:200px;
}

.container .model{
  margin-top:20px;
}



/* Header-style-animated */
#header {
  height: 70px;
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  background: rgba(52,56,56,1);
}

#header.header-start {
  background: rgba(52,56,56,1);
}

#header.header-moved {
  background: rgba(52,56,56,1); 
}

#header .logo h1 {
  font-size: 28px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 1px;
}

#header .logo h1 a, #header .logo h1 a:hover {
  color: #fff;
  text-decoration: none;
}

#header .logo img {
  padding: 0;
  margin: 0;
  max-height: 40px;
}

/* Navbar-style-transition */
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 15px 7px 15px;
  margin-left: 5px;
  font-size: 14px;
  color: #fff;
  white-space: nowrap;
  transition: 0.3s;
  border-radius: 50px;
}

.navbar a i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover, .navbar .active, .navbar li:hover > a {
  background: #00dffc;
}

.mobile-nav-toggle {
  color: #fff;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }
  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(20, 21, 28, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 10px;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a {
  padding: 10px 20px;
  margin: 5px;
  font-size: 15px;
  color: #2a2c39;
}

.navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
  color: #fff;
}

.navbar-mobile .getstarted {
  margin: 15px;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover, .navbar-mobile .dropdown ul .active:hover, .navbar-mobile .dropdown ul li:hover > a {
  color: #fff;
}

.navbar-mobile .dropdown > .dropdown-active {
  display: block;
}
/* footer-style */
#footer{
  background-color:rgba(52,56,56,1);
  text-align: center;
    padding: 30px 0;


}
#footer .title{
  text-align: left;
	font-size:24px;
	font-weight:800;
	color:rgba(0,140,158,1);
	position:relative;
}
#footer .info{
	color:white;
	position:relative;
	font-size:15px;
}

#footer span{
	font-weight:800;
	color: rgba(0,223,252,1);
	position:relative;
	font-size: 14px;
}

#footer .title:after{
  content: "";
  width: 250px;
  height: 1px;
  display: inline-block;
  background: rgba(0,140,158,1);
  margin: 4px 10px;
}